In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/belief12345679/Consumption_Data/main/setai_over2_monthly.csv'

# encoding='utf-8' / 'shift_jis' / 'cp932'
df = pd.read_csv(url, encoding='shift_jis')

In [2]:
df.head(30)

,二人以上の世帯_支出金額[円],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,1,2,3,4,...,302,303,304,305,306,307,308,309,310,311
0,NaN,NaN,NaN,NaN,NaN,NaN,2000年,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,(平成12年),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,表側連番,階層,大分類,中分類,小分類,品目分類,1月,2月,3月,4月,...,2月,3月,4月,5月,6月,7月,8月,9月,10月,11月
3,1,-,-,-,-,世帯数分布(抽出率調整),10000,10000,10000,10000,...,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
4,2,-,-,-,-,集計世帯数,7887,7942,7934,7922,...,7273,7263,7302,7325,7285,7260,7256,7270,7232,7239
5,3,-,-,-,-,世帯人員(人),3.32,3.32,3.32,3.32,...,2.88,2.88,2.88,2.87,2.87,2.87,2.87,2.87,2.87,2.87
6,4,-,-,-,-,18歳未満人員(人),0.74,0.75,0.75,0.75,...,0.52,0.52,0.53,0.52,0.52,0.52,0.52,0.52,0.51,0.51
7,5,-,-,-,-,65歳以上人員(人),0.52,0.53,0.53,0.52,...,0.84,0.85,0.84,0.84,0.85,0.86,0.87,0.86,0.87,0.88
8,6,-,-,-,-,うち無職者人員(人),0.41,0.41,0.41,0.41,...,0.66,0.66,0.66,0.66,0.67,0.66,0.67,0.67,0.68,0.68
9,7,-,-,-,-,有業人員(人),1.51,1.51,1.51,1.52,...,1.33,1.33,1.32,1.33,1.33,1.35,1.35,1.35,1.35,1.35
10,8,-,-,-,-,世帯主の年齢(歳),52.4,52.6,52.7,52.6,...,60.4,60.6,60.5,60.5,60.6,60.8,61,60.7,61,61
11,9,-,-,-,-,持家率(％),76,76.3,76.2,75.8,...,86.8,87,86.9,86.9,87,87,87.2,87.6,87.9,88
12,10,-,-,-,-,家賃・地代を支払っている世帯の割合(％),22.1,22,22.6,22.2,...,12.2,12,11.9,11.8,12.3,12.1,11.8,11.5,10.8,10.7
13,11,1,-,-,-,消費支出,309621,290663,335341,335276,...,290511,339232,325717,316085,295419,305694,313977,303214,306872,314242
14,12,2,1,-,-,食料,73580,73309,79726,77344,...,84388,96489,89487,94204,89951,93632,102443,93134,94352,96420
15,13,3,1,1,-,穀類,6100,6915,7496,7470,...,7511,8557,8785,8830,8557,8270,8624,9811,10259,8930
16,14,4,1,1,1,米,2338,2919,3226,3346,...,2703,3207,3546,3508,3396,2987,3374,5011,5164,3705
17,15,4,1,1,2,パン,2127,2329,2492,2441,...,2695,3044,2942,2978,2778,2764,2826,2721,2909,2928
18,16,4,1,1,3,麺類,1325,1359,1482,1458,...,1634,1788,1797,1880,1935,2094,1994,1638,1711,1742
19,17,4,1,1,4,他の穀類,310,308,296,225,...,480,518,499,464,447,424,431,439,475,555
20,18,3,1,2,-,魚介類,8525,8627,9268,8736,...,5572,6231,5889,6048,5645,5553,5953,5846,5886,6305
21,19,4,1,2,1,生鮮魚介,5479,5475,5880,5438,...,3003,3400,3196,3315,3033,2904,3327,3319,3211,3442
22,20,4,1,2,2,塩干魚介,1370,1500,1613,1571,...,1036,1146,1118,1126,1078,1091,1041,1035,1065,1121
23,21,4,1,2,3,魚肉練製品,819,802,794,761,...,734,740,689,692,680,696,660,653,759,825
24,22,4,1,2,4,他の魚介加工品,858,850,981,966,...,799,944,885,915,854,862,925,839,850,917
25,23,3,1,3,-,肉類,6229,6449,6483,6485,...,7654,8356,8252,8635,8175,8114,8626,8001,8410,8845
26,24,4,1,3,1,生鮮肉,5144,5242,5170,5082,...,6290,6835,6695,6986,6552,6493,6934,6519,6894,7245
27,25,4,1,3,2,加工肉,1085,1208,1314,1404,...,1364,1521,1558,1649,1622,1622,1693,1482,1516,1600
28,26,3,1,4,-,乳卵類,3390,3650,3940,3803,...,4159,4616,4512,4636,4582,4638,4827,4679,4757,4721
29,27,4,1,4,1,牛乳,1590,1678,1835,1769,...,1139,1293,1254,1276,1331,1400,1472,1431,1415,1330